{% extends 'base.html' %}
{% load static %}
{% block title %} ChatRoom | Free 2 Connect {% endblock %}
{% block content %}
<style>
    .message {
        display: block;
    }
    
    .message-receiver {
        text-align: start;
    }
</style>
<div class="container my-5">
    <h3 class="text-black text-center">
        <a class="btn btn-dark rounded-1 float-end me-0" href="{% url 'index' %}"> Back</a>
        Connected 🤝🏼
    </h3>

    <div class="row mt-3">
        <div class="col-4">
            <div class="card rounded-1 mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ user1.full_name|title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Gender : {{ user1.gender|title }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Country : {{ user1.country|title }}</h6>
                    <p class="card-text">
                        {% for interest in user1Interests %}
                        <button class="btn btn-sm btn-warning m-2">
                            <i class="fas fa-check"></i> {{ interest.name|title }}</button>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="card rounded-1">
                <div class="card-body">
                    <h5 class="card-title">{{ user2.full_name|title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Gender : {{ user2.gender|title }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Country : {{ user2.country|title }}</h6>
                    <p class="card-text">
                        {% for interest in user2Interests %}
                        <button class="btn btn-sm btn-warning m-2">
                            <i class="fas fa-check"></i> {{ interest.name|title }}</button>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card rounded-1">
                <div class="card-body">


                    <div id="chat-messages" class="mb-3 g-2 p-5" style="height: 400px; overflow: scroll;">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="message-input" placeholder="Type your message...">
                        <button class="btn btn-primary" id="send-button">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block jsscript %}
<script>
    
        const chatMessages = document.getElementById('chat-messages');
        const messageInput = document.getElementById('message-input');
        const sendButton = document.getElementById('send-button');
        const userId = '{{ request.user.id }}';
        const userName = '{{ request.user.full_name|title }}';

        var roomName = window.location.pathname.split('/');
        roomName = roomName[2]; 
        const socket = new WebSocket(`ws://${window.location.host}/ws/rooms/${roomName}/`)

        // on connection
        socket.onopen = function(event) {
            console.log('WebSocket connection established.');
        };

        // close connection
        socket.onclose = function(event) {
            console.log('WebSocket connection closed.');
        };

        // on message
        socket.onmessage = function(event) {
            const data = event.data;
            console.log(data)
            displayMessage(data);
        };

        // Send button click event listener
        sendButton.addEventListener('click', function() {
            const message = messageInput.value;
            if (message !== '') {
                var data = {
                    'user_id': userId,
                    'message': message
                };
                socket.send(JSON.stringify(data));
                messageInput.value = '';
            }
        });

        // Display a new message in the chat UI
        function displayMessage(data) {
            data = JSON.parse(data)
            user_id = data["user_id"];
            message = data["message"];
                 
            const messageContainer = document.createElement('div');
            messageContainer.classList.add('message');
            messageContainer.classList.add('my-4');

            if(userId == user_id){
                messageContainer.classList.add('message-sender');
            }
            const messageText = document.createElement('div');
            messageText.classList.add('message-text');
            
            const paragraph = document.createElement('p');
            paragraph.classList.add('mb-0');
            paragraph.textContent = message;
            messageText.appendChild(paragraph);
            
            const messageMeta = document.createElement('div');
            messageMeta.classList.add('message-meta');
            
            const small = document.createElement('small');
            small.classList.add('text-muted');
            small.textContent =  userName;
            messageMeta.appendChild(small);
            messageContainer.appendChild(messageText);
            messageContainer.appendChild(messageMeta);
            
            const chatMessages = document.getElementById('chat-messages');
            chatMessages.appendChild(messageContainer);
        
        }


</script>
{% endblock %}