{% extends 'base.html' %}
{% load static %}
{% block title %} Home | Free 2 Connect {% endblock %}
{% block content %}
 
<div class="container my-5">
    <h3 class="text-black text-center m-5">Feel Free to Connect 👋🏼</h3>
    <div class="row mt-3">
        <div class="col-6">
            <button id="online-toggle" class="btn btn-danger" data-toggle="toggle-button" data-state="offline">Offline</button>
            <a class="btn btn-dark mx-2 rounded-1" id="connectBtn">🚀 Connect</a>
            <div class="mt-5">
                {% if interests %}
                <h5 class="text-black-100">Selected Interest's: ✨</h5>
                {% for interest in interests %}
                <button class="btn btn-sm btn-warning m-2"><i class="fas fa-check"></i>
                    {{interest.name|title}}</button>
                {% endfor %}

                {% else %}
                <div class="row">
                    <h5>No interest selected! </h5>
                    <p class="text-black-50">Don't worry, we will connect you with someone randomly based on any
                        interest.
                        👍</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            <div class="row border border-1 px-3 py-3">
                <h3 class="text-black-100">Name : {{ request.user.full_name|title }}</h3>
                <p class="text-black-50">Username : {{ request.user.username }}</p>
                <p class="text-black-50">Email : {{ request.user.email }}</p>
                <p class="text-black-50">Gender : {{ request.user.gender }}</p>
                <p class="text-black-50">Phone : {{ request.user.phone }}</p>
                <p class="text-black-50">Country : {{ request.user.country }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block jsscript %}
<script>
 $(document).ready(function() {
    var socket = new WebSocket('ws://' + window.location.host + '/ws/online_status/');

    socket.onopen = function(event) {
        console.log('WebSocket connection established.');
    };

    socket.onmessage = function(event) {
        console.log('Message received:', event.data);
    };


    // WebSocket connection closed
    socket.onclose = function(event) {
        console.log('Connection closed');
        document.getElementById('connectBtn').innerHTML = '🚀 Connect'
    };
        
    $('#online-toggle').click(function() {
        var currentState = $(this).attr('data-state');
        var status =  'offine';
        console.log(currentState)
        if (currentState === 'offline') {
            $(this).text('Online');
            $(this).attr('data-state', 'online');
            $(this).attr('class', 'btn btn-outline-success');
            status =  'online';
        } else {
            $(this).text('Offline');
            $(this).attr('data-state', 'offline');
            $(this).attr('class', 'btn btn-danger');
            status =  'offline';
            document.getElementById('connectBtn').innerHTML = '🚀 Connect'
        }

        var data = {
            'status': status
        };
        socket.send(JSON.stringify(data));

    });

    function redirectToPage(url) {
        window.location.href = url;
    }

    function connectUsers() {
        var status = {
            'status': 'connect',
            'user_id': '{{ request.user.id }}' 
        };

        console.log(status)
        
        socket.send(JSON.stringify(status));
         

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            console.log('Received data:', data);
            var user2 = data[0]
            window.location.href = 'http://' + window.location.host + '/chat/'+user2+'/';
            
        };

        socket.onclose = function(event) {
            console.log('Connection closed');
            document.getElementById('connectBtn').innerHTML = '🚀 Connect'
        };
    }

    $("#connectBtn").click(function() {
        document.getElementById('connectBtn').innerHTML = '<div class="spinner-border spinner-border-sm text-light" role="status"><span class="visually-hidden">Loading...</span></div> Loading...'
        connectUsers();
    });

    });
</script>
{% endblock %}