{% extends 'base.html' %}
{% block title %} Login | Free 2 Connect {% endblock %}

{% load static %}
{% load bootstrap5 %}
{% block content %} 
<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100 my-5">
        <div class="card rounded border mx-3 my-2 px-5 py-2 w-75">
            <h1 class="mt-4 text-center">Login</h1>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Login</button>
                    <a href="" class="btn btn-sm btn-light">Cancel</a>
            </form>
            <p class="text-black-50 mt-2">Don't have An Account?
                <a class="link-primary" href="{% url 'signup'%}"> Signup </a></p>
        </div>
    </div>

     
</div>

{% endblock %}
