<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Free2Connect</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Left Most -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Home</a>
          </li>
        </ul>

        <!-- Right Most -->
        <div class="d-flex">
          <ul class="d-flex navbar-nav me-auto mb-2 mb-lg-0"
            style="justify-content: center; align-items: center; gap: 10px">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link disabled fw-bold" aria-current="page" href="#">
                {{ request.user.full_name | title }}
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-danger btn-sm" aria-current="page" href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="btn btn-outline-light" aria-current="page" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>&nbsp;Login</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-light" aria-current="page" href="{% url 'signup' %}">Signup</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>